<div layout="vertical" layout-fill  layout-align="center">

  <md-content>
    <header>
      <acme-navbar creationDate="main.creationDate" />
    </header>

    <section class="jumbotron">
      <h1>{{ command }}</h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      </p>
          <section flex layout="row" layout-align="center">
            <md-button ng-click="enable(1)" href="#" class="md-raised">เปิด</md-button>
            <md-button ng-click="enable(0)" href="#" class="md-raised">ปิด</md-button>
          </section>
          <!-- <p class="lead"> {{ macaddr }} </p> -->
          <p class="lead" ng-show="heartbeat"> {{ heartbeat }} </p>
    </section>

    <section flex layout="row" layout-align="center">
      <input ng-model="macaddr" type="text"/>
      <md-button ng-click="connect()" href="#" class="md-raised">connect</md-button>
    </section>

  </md-content>

</div>
